@import "tailwindcss";

/* Always Light Mode */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Base Styles */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
